.home {
    .background {
        filter: none !important;
    }

    .arrow-center {
        height: 50px !important;
        width: 50px !important;
    }

    img {
        width: 256px !important;
        height: 256px !important;
    }
}

.top-navbar {
    &.transparent-navbar {
        display: none !important;
        visibility: hidden !important;
    }
}