.home {
    .background {
        filter: none !important;
    }

    .arrow {
        font-size: 168px !important;
    }

    img {
        width: 168px !important;
        height: 168px !important;
    }
}

.top-navbar {
    &.transparent-navbar {
        display: none !important;
        visibility: hidden !important;
    }
}