.home {
    .background {
        filter: none !important;
    }

    .arrow-center {
        height: 200px !important;
        width: 200px !important;
        align-self: center !important;
    }
}

.top-navbar {
    &.transparent-navbar {
        display: none !important;
        visibility: hidden !important;
    }
}